<html>
<head></head>
<body>

<h2>Operation: Get N random questions</h2>
<strong>Path<strong>: api/questions/random/_amount_<br/>
<strong>Method<strong>: <code>GET</code><br/>
<strong>Request example</strong>:<br/>
<pre>
HTTP GET http://localhost:5050/api/questions/random/1
</pre>
<strong>Response example</strong>:<br/>
<pre>
{
   "questions":[
      {
         "_id":"0f881df6-2414-455b-81d6-fcdccd052892",
         "title":"What did you have for dinner yesterday?",
         "answers":[
            {
               "title":"Cheese salad",
               "value":72
            },
            {
               "title":"Cheese salad (2 hours old)",
               "value":21
            },
            {
               "title":"Cheese salad (5 hours old)",
               "value":46
            },
            {
               "title":"Red Bull",
               "value":29
            }
         ]
      }
   ]
}
</pre>




<h2>Operation: Submit new question</h2>
<strong>Path<strong>: api/questions/new<br/>
<strong>Method<strong>: <code>POST</code><br/>
<strong>Request example</strong>:<br/>
<pre>
{
  "image": "http://...",
  "title": "Why?",
  "answers": [
    { "title": "answer1", "image": "http://...", "value": "" },
    { "title": "answer2", "image": "http://...", "value": "" },
    { "title": "answer3", "image": "http://...", "value": "" }
  ]
}
</pre>
<strong>Response example</strong>:<br/>
<pre>
{
   "response": "OK"
}
</pre>





<h2>Operation: Get question</h2>
<strong>Path<strong>: api/question/_id_<br/>
<strong>Method<strong>: <code>GET</code><br/>
<strong>Response example</strong>:<br/>
<pre>
{
   "_id": "0d82a939-c306-427b-81fb-588e1ca8f551",
   "image": "http://...",
   "title": "Why?",
   "answers": [
      { "title": "answer1", "image": "http://...", "value": "" },
      { "title": "answer2", "image": "http://...", "value": "" },
      { "title": "answer3", "image": "http://...", "value": "" }
   ]
}
</pre>





<h2>Operation: Submit new answer</h2>
<strong>Path<strong>: api/answers/new<br/>
<strong>Method<strong>: <code>POST</code><br/>
<strong>Request example</strong>:<br/>
<pre>
{
   "question_id": "0d82a939-c306-427b-81fb-588e1ca8f551",
   "title": "answer2",
}
</pre>
<strong>Response example</strong>:<br/>
<pre>
{
     "response": "OK"
}
</pre>




<h2>Operation: Submit new image</h2>
<strong>Path</strong>: api/images/new
<strong>Method<strong>: <code>POST</code><br/>
<strong>Response example</strong>:<br/>
<pre>
{
  "_id": "c42e7d67-e704-47d0-b519-1a35a8e120a9",   
  "response": "OK"
}
</pre>




<h2>Operation: Show image</h2>
<strong>Path</strong>: api/image/_id_<br />
<strong>Method<strong>: <code>GET</code><br/>



</body>
</html>