<!doctype html>
<html lang="en">
<head>

  <!-- Meta Tags -->
  <meta charset="UTF-8">
  <title>Quiq.ly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes"> 

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

  <!-- CSS -->
  <link rel="stylesheet" href="/style.css">
  
</head>
<body>

  <div id="container">
  
    <nav id="main-nav">
      <p id="author">Asked by: <span>Quiqly</span></p>
      <p id="time">just now</p>
      <span id="tick"></span>
    </nav>
    
    <div id="content">
      <div id="qplace">
        <div id="qtitle"><h1></h1></div>
        <img src="" class="qthumb">
        <ul class="answers">
        </ul> 
      </div>
      <div id="qgraph">
        <div id="qtitle" class="small">
          <h1>Would you eat this?</h1>  
        </div>
        <canvas id="myChart" width="280" height="368"></canvas> 
      </div>    
    </div>

    <footer id="main-footer">
      <ul id="footer-nav">
        <li id="me"><a href="/profile">Me</a></li>
        <li id="ask"><a href="/">Cancel</a></li>
        <li id="answer"><a href="javascript:commit()" data-slide="-1">Ask!<span class="skip"></span></a></li>
      </ul>
    </footer> 
  </div>  

  <!-- JS -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  
  <script type="text/javascript" src="/js/general.js"></script>
    
  </body>
</html>
