<!doctype html>
<html lang="en">
<head>

  <!-- Meta Tags -->
  <meta charset="UTF-8">
  <title>Quiq.ly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes"> 

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

  <!-- CSS -->
  <link rel="stylesheet" href="/style.css">
  
</head>
<body>
	<div id="container">
		<nav id="position-nav">
			<ul>
				<li class="bubble bubble1 active">1.</li>
				<li class="hrline hrline1"></li>
				<li class="bubble bubble2">2.</li>
				<li class="hrline hrline2"></li>
				<li class="bubble bubble3">3.</li>
			</ul>
		</nav>
		
		<div id="content" style="width:400%">
			<div id="qask1">
				<div id="qtitle">
					<h1>What would you like to know? Ask!</h1>	
				</div>
				<textarea type="text" id="ask-question" name="question"></textarea> 
			</div>
			<div id="qask2">
				<div id="qtitle" class="small">
					<h2>Would you eat this?</h2>	
				</div>
				<div id="qtitle">
					<h1>Enter answers:</h1>	
				</div>
				<input type="text" id="answer1" class="answer-field" name="1" />
			</div>	
			<div id="qask3">
				<div id="qtitle">
					<h1>Add image.</h1>	
				</div>
				<a href="#" id="file-upload"/> Upload File</a>
				<input type="file" id="fileId" style="visibility: hidden;" />
			</div>		
		</div>

		<footer id="main-footer">
			<ul id="footer-nav">
				<li id="back"><a href="index.html" data-slide="0">Back</a></li>
				<li id="preview"><a href="#">Preview</a></li>
				<li id="next"><a href="ask.html" data-slide="1">Next<span class="skip"></span></a></li>
			</ul>
		</footer>	
	</div>	

  <!-- JS -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  
  <script type="text/javascript" src="/js/general.js"></script>
    
  </body>
</html>
