<html>
<head></head>
<body>
<div id="fb-root"></div>
<script src="/js/fb.js"></script>
<h1>"Welcome to Quiq.ly!"</h1>
<p><a href="question/random">Answer question!</a></p>
<p><a href="question/ask">Ask question!</a></p>

<input type="text" id="rate"><input type="button" value="Rate" onclick="rate()">
<input type="text" id="subscribe_email"><input type="button" value="Subscribe" onclick="subscribe()">
 
<p><fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button></p>

  <!-- JS -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/chart.js"></script>
  <script type="text/javascript" src="/js/general.js"></script>  

</body>
</html>
