<!doctype html>
<html lang="en">
<head>
  <!-- Meta Tags -->
  <meta charset="UTF-8">
  <title>Quiq.ly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes"> 
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <!-- CSS -->
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <div id="container">
    <nav id="main-nav">
      <p id="author">Asked by: <span>Teodors</span></p>
      <p id="time">2 days ago</p>
    </nav>

    <div id="content">
      <div class="qplace">
        <h1 id="qtitle">${model.question.title}</h1>
        <img src="" class="qthumb">
        <ul class="answers">
          <% model.question.answers.each { answer -> %>
          <li>
            <input type="radio" value="${answer.title}" id="${answer.title}" name="select">
            <label for="${answer.title}">${answer.title}</label>
          </li>
          <% } %>
        </ul> 
      </div>    
    </div>

    <footer id="main-footer">
      <ul id="footer-nav">
        <li id="me"><a href="">Me</a></li>
        <li id="ask"><a href="">Ask?</a></li>
        <li id="answer"><a href="">Answer!<span class="skip"></span></a></li>
      </ul>
    </footer> 
  </div>  

  <!-- JS -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/general.js"></script>
</body>
</html>


